
.vs/JourneyThroughLarsauria/v15/Server/sqlite3/db.lock
.vs/JourneyThroughLarsauria/v15/Server/sqlite3/storage.ide
.vs/JourneyThroughLarsauria/v15/Server/sqlite3/storage.ide-shm
.vs/JourneyThroughLarsauria/v15/Server/sqlite3/storage.ide-wal
